.wt-home-wrapper {
  .tag-wrapper {
    display: flex;
    justify-content: space-between;
    height: 180px;
    background: white;
    margin-bottom: 20px;
  }
}

.wt-article-list {
  .al-item {
    position: relative;
    height: 720px;
    width: 720px;
    padding: 16px;
    margin: 0 auto;
    background: #fff;
    margin-top: 16px;
    .cover {
      position: relative;
      height: 100%;
      width: 100%;
      background: rgba(0, 0, 0, 0.2);
      .title {
        position: absolute;
        top: 190px;
        width: 100%;
        font-size: 44px;
        color: white;
        text-align: center;
      }
      .btn {
        position: absolute;
        top: 438px;
        left: 50%;
        transform: translateX(-50%);
        background-image: url('../../images//icon-right-btn.png');
        background-repeat: no-repeat;
        background-size: contain;
        height: 80px;
        width: 80px;
        border-radius: 40px;
      }
    }
  }
}